/* Use your own code or past solution for Great Idea Web Page CSS here! */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Your code starts here! */
body {
  width: 40%;
  margin: auto;
}

.flex {
  display: flex;
}

header {
  width: 95%;
  margin: 20px auto 0;
  align-items: center;
}

nav {
  width: 80%;
}

nav a {
  width: 16%;
  color: lightgray;
  text-decoration: none;
  font-size: 60%;
}

.logo {
  width: 20%;
  vertical-align: middle;
}

.top-section {
  width: 95%;
  margin: 35px auto 50px auto;
}

.title-div {
  width: 50%;
  flex-direction: column;
  text-align: center;
  padding: 40px 0 0 40px;
}

.title-div h1 {
  margin-bottom: 0;
}

.top-img {
  width: 50%;
  padding: 5px 0 0 35px;
}

button {
  width: 50%;
  margin: 5px auto;
  padding: 5px;
  border: 1px solid black;
}

.middle-section {
  flex-flow: row wrap;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  width: 95%;
  margin: auto;
  padding-bottom: 5px;
}

.middle-box {
  
  padding: 20px 0;
}

.top-left {
  width: 50%;
}

.top-right {
  width: 50%;
}

.middle-img {
  width: 100%;
}

.bottom {
  width: 33%;
}

.contact-section {
  width: 95%;
  margin: auto;
  padding: 20px 0 0;
}

footer {
  text-align: center;
  padding: 10px 0 100px 0;
}

h1 {
  font-size: 300%;
}

h2 {
  font-size: 9px;
  margin-bottom: 15px;
}

p, footer {
  font-size: 10px;
}

@media (max-width: 800px) {
  body {
    width: 98%;
  }
  
  header {
    flex-flow: column-reverse;
    margin-top: 20px;
  }

  nav {
    width: 100%;
    margin-top: 30px;
  }

  nav a {
    width: calc(100% / 6);
  }
}


